@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: effra, sans-serif;
  display: border-box;
}

.containerNavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 5em;
  background-color: #f7f7f7;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18em;
  margin: 0px 40px;
}

.navbar-brand {
  width: 70px;
}

.nav-item {
  font-weight: 400;
}

.cartIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-end;
}

.containerPadreTitle {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 30px 0px 0px 0px;
  border-radius: 20px;
}

.itemListContainer {
  background-color: #f7f7f7;
  border-radius: 10px;
  width: 50vw;
}

.itemListTitle {
  font-family: Bodoni Moda;
  font-size: 5em;
  margin: 20px 5px 5px 5px;
  color: #060606;
}

ul {
  list-style-type: none;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}
