body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.containerNavbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 5em;
  background-color: #f7f7f7;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18em;
}

ul {
  list-style-type: none;
}

a:visited {
  color: black;
}
